<%- include("header.ejs",{title:"Ürün Düzenle" , activeTab: "edit_product" }) %>

    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Ürün Düzenle</h4>
                        <h2> Düzenle </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- Ürün Ekleme Formu -->
                <div class="form-wrapper">
                    <h2 class="form-title">Ürünü Düzenle</h2>
                    <form action="http://165.227.132.99/api/myproducts" method="PUT" enctype="multipart/form-data" id="addForm">

                        <input type="hidden" name="product_id" value="<%= product.id %>">

                        <div class="form-group">
                            <label for="productName">Ürün Adı:</label>
                            <input type="text" value="<%= product.name %>" class="form-control" id="productName" name="product_name" required>
                        </div>

                        <div class="form-group">
                            <label for="productDescription">Ürün Açıklaması:</label>
                            <textarea class="form-control" id="productDescription" name="description" rows="3" required><%= product.description %>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="productPrice">Fiyat:</label>
                            <input type="number" step=0.01 value="<%=product.price %>" class="form-control" id="productPrice" name="price" required>
                        </div>

                        <div class="form-group">
                            <label for="productPrice">Stok Miktarı:</label>
                            <input type="number" value="<%=product.stock %>" class="form-control" id="stock" name="stock" required>
                        </div>

                        <div class="form-group">
                            <label for="productImage">Ürün Fotoğrafı:</label> (değiştirmek istemiyorsanız boş bırakın)
                            <br>
                            <img src="http://165.227.132.99/api/<%= product.image %>" alt="" style="height: 80px;">
                            <br>
                            <input type="file" class="form-control-file" id="productImage" name="file">
                        </div>

                        <button type="submit" class="btn btn-primary">Ürünü Düzenle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        .form-wrapper {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .form-title {
            margin-bottom: 20px;
            text-align: center;
            color: #333;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            width: 100%;
            padding: 10px;
            font-size: 18px;
        }
    </style>


    <%- include("footer.ejs") %>

        <script>
            // add a header to the form data

            const form = document.getElementById("addForm");

            form.addEventListener("submit", async (event) => {
                event.preventDefault();
                const formData = new FormData(form);
                const response = await fetch("http://165.227.132.99/api/myproducts", {
                    method: "PUT",
                    body: formData,
                    headers: {
                        access_token: document.cookie.split("=")[1]
                    }
                });
                const result = await response.json();
                console.log(result);
                if (result.status) {
                    Swal.fire({
                        title: 'Başarılı!',
                        text: 'Ürün başarıyla güncellendi.',
                        icon: 'success',
                        confirmButtonText: 'Tamam',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "/my_products";
                        }
                    })
                } else {
                    Swal.fire({
                        title: 'Hata!',
                        text: 'Ürün güncellenirken bir hata oldu.',
                        icon: 'error',
                        confirmButtonText: 'Tamam',
                    })
                }
            });

        </script>


        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


        <!-- Additional Scripts -->
        <script src="/assets/js/custom.js"></script>
        <script src="/assets/js/owl.js"></script>
        <script src="/assets/js/slick.js"></script>
        <script src="/assets/js/isotope.js"></script>
        <script src="/assets/js/accordions.js"></script>


        <script language="text/Javascript">
            cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
            function clearField(t) {                   //declaring the array outside of the
                if (!cleared[t.id]) {                      // function makes it static and global
                    cleared[t.id] = 1;  // you could use true and false, but that's more typing
                    t.value = '';         // with more chance of typos
                    t.style.color = '#fff';
                }
            }
        </script>


        </body>

        </html>